// colors
$primary = #A97C60
$secondary = #FDC7A6
$tertiary = #122A2C
$quartinary = #D96310

$primary-dark = darken($primary, 50%)
$headerBlue = #25D7F7,
$actionPink = #E32284,
$gradientPurple = #7190C1,
$grayText = #4F4F4F,
$whiteText = #FFFFFF,
$workshopDifficultyTeal = #2D7F9C,

// grid settings
$gutter = 20px
$columns = 12
$scale = {
  xs: 30em,
  sm: 48em,
  md: 64em,
  lg: 75em
}
ks-no-conflict = true
