// mad max color pallete
$primary = #A97C60
$secondary = #FDC7A6
$tertiary = #122A2C
$quartinary = #D96310

$primary-dark = darken($primary, 50%)

$xs-min = 30em;
$sm-min = 48em;
$md-min = 64em;
$lg-min = 75em;
