
$header-blue = #25D7F7
$action-pink = #BD459A
$action-pink-light = #FFDCF5
$action-pink-dark = #77275F
$gradient-purple = #7190C1
$gray-text = #4F4F4F
$gray-bg = #F0F0F0
$light-gray = #8a8a8a
$lightest-gray = #C0C0C0
$white-text = #FFFFFF
$workshop-difficulty-teal = #2D7F9C
$workshop-blue = #02AEEF
// colors
$primary = $header-blue
$secondary = $white-text
$tertiary = $gray-bg
$quartinary = $workshop-difficulty-teal
$quote-green = #2b2700
$header-light = #80deea
$header-dark = #0a4979

// font sizes
$header-date = 38px
$header-title = 38px


// grid settings
$gutter = 20px
$columns = 12
$scale = {
  xs: 30em,
  sm: 48em,
  md: 64em,
  lg: 75em,
  ab: 1100px
}
ks-no-conflict = true
