{
    "presets": [
        "es2015",
        "react"
    ],
    "plugins": [
        [
            "transform-runtime",
            {
                "helpers": true,
                "polyfill": false,
                "regenerator": false
            }
        ],
        "dev-expression",
        "transform-object-rest-spread",
        "transform-function-bind"
    ]
}
