$nav-height-lg = 100px;
$nav-height-sm = 75px;
.header
  $grid('column', , , 'between')
  min-height 100vh
  width 100%
  .title-sponsor
    +$below('sm')
      $center(100%)
    +$above('sm')
      $center(100%)
    color white
    flex-grow 0.5
    max-height 20%
    text-align center
    p
      letter-spacing 1.7px
    img
      margin-top 20px
      max-width 300px
      z-index 400
      +$below('sm')
        max-width 200px
  .logo
    $center(400px)
    width 60%
    flex 1 0 0
    img
      width 100%
  .date
    $center(50vw)
    color white
    flex-grow .2
    font-size 1.5em
    text-align center
    h3
      margin 0
    +$below('sm')
      font-size 1.2em
    +$above('sm')
      font-size 1.5em
  .rwr-logo
    +$below('sm')
      $center(100%)
    +$above('sm')
      $center(25%)
    $grid('column')
    text-align center
    span
      padding 0 20px 20px 20px
      color white
    img
      padding-bottom 40px
      width 60px
      +$below('sm')
        width 50px

.register
  $center(100%)
  text-align center

.nav
  background-color $header-blue
  width 100%
  img
    height $nav-height-lg
    padding .6em
    +$below('sm')
      height $nav-height-sm
  ul
    $grid()
    list-style-type none
    margin 0
    padding-right 0
    +$below('sm')
      $grid(column)
      padding-left 0
      .link
        $center(100%)
        text-align center
    .link
      color $secondary
      display inline-block
      flex-grow 1
      height $nav-height-lg
      padding 1em
      text-decoration none
      text-align center
      width 100%
      +$below('sm')
        height $nav-height-sm
      &:hover
        background-color $secondary
        color $primary
      div
        $center(65%)
        background-color white
        border 3px solid $action-pink
        border-radius 20%
        color $action-pink
        height 50%


  li
    flex-grow 1
    vertical-align middle
    font-size 28px
    font-weight 100
    width vw/5
