$nav-height-lg = 100px;
$nav-height-sm = 75px;
.header
  $grid('column')
  min-height 100vh
  .title-sponser
    flex-grow 1
  .logo
    $center(45vw)
    flex-grow 1
    width 450px
    max-width 70%
    margin-top 70px
    img
      width 100%
  .date
    $center(50vw)
    flex-grow .3
    text-align center
    font-size 2em
    color white
    +$below('sm')
      font-size 1.5em
    +$above('sm')
      font-size 2em
  .rwr-logo
    $center(25vw)
    $grid('column')
    text-align center
    span
      padding 0 20px 20px 20px
      color white
    img
      padding-bottom 40px
      width 70px

.register
  $center(100%)
  text-align center

.nav
  background-color $header-blue
  width 100vw
  max-width 1540px
  margin-left auto
  margin-right auto
  +$below('xs')
    $grid(column)
  +$below('sm')
    .brand
      $cell(0, center, 0)
  img
    height $nav-height-lg
    padding .6em
    +$below('sm')
      height $nav-height-sm
  ul
    $grid()
    list-style-type none
    margin 0
    padding-right 0
    +$below('xs')
      $grid(column)
      padding-left 0
      .link
        $center(100%)
        text-align center
    .link
      color $secondary
      display inline-block
      flex-grow 1
      height $nav-height-lg
      padding 1em
      text-decoration none
      text-align center
      width 100%
      +$below('sm')
        height $nav-height-sm
      &:hover
        background-color $secondary
        color $primary
      div
        $center(65%)
        background-color white
        border 3px solid $action-pink
        border-radius 20%
        color $action-pink
        height 50%


  li
    flex-grow 1
    vertical-align middle
    font-size 28px
    font-weight 100
    width vw/5
