.background-video-overlay
  background-color rgba(44, 57, 62, 0.75)
  height auto
  left 50%
  min-height 100%
  min-width 100%
  position fixed
  top 50%
  transform translateX(-50%) translateY(-50%)
  width auto
  z-index -100
.background-video
  background-size cover 
  background url('./poster.png') no-repeat
  height auto
  left 50%
  min-height 100%
  min-width 100%
  position fixed
  top 50%
  transform translateX(-50%) translateY(-50%)
  width auto
  z-index -100
  +$below('sm')
    display: none
