.about-items {
	@include flexbox(row, wrap, baseline, space-between, space-between);
	margin-bottom: -6ex;
}

.about-item {
	list-style-type: none;
	text-align: center;
	padding: 3.33ex 0 6.66ex;
	@media (min-width: $phablet-min) {
		max-width: 48%;
	}
}

.about-image {
	margin: auto;
	@each $device, $max-width in (
			$mobile: 50%,
			$phablet: 66.67%,
			$tablet: 33.33%,
			$laptop: 50%,
			$desktop: 33.33%
	) {
		@media #{$device} {
			max-width: $max-width;
		}
	}
}