$brand-primary:         #00e5ff;
$brand-primary-alt:     #00bcd4;
$brand-secondary:       #003458;
$brand-secondary-alt:   #2187d9;
$brand-accent:          #000000;

$window-background: #f9f9f9;

$text-primary:      rgba(0, 1, 2, 0.87);
$text-secondary:    rgba(0, 1, 2, 0.54);
$text-tertiary:     rgba(0, 1, 2, 0.38);

$text-primary-inverse:      rgba(253, 254, 255, 1);
$text-secondary-inverse:    rgba(253, 254, 255, 0.7);
$text-tertiary-inverse:     rgba(253, 254, 255, 0.5);

$transparent-light: rgba(255, 255, 255, 0);
$transparent-dark:  rgba(0, 0, 0, 0);

$divider-dark:  rgba(0, 1, 2, 0.13);
$divider-light: rgba(253, 254, 255, 0.13);

$img-path: "../images";

$nav-height: 84px;

$mobile-max:    420px;
$phablet-min:   $mobile-max + 1px;
$phablet-max:   640px;
$tablet-min:    $phablet-max + 1px;
$tablet-max:    960px;
$laptop-min:    $tablet-max + 1px;
$laptop-max:    1440px;
$desktop-min:   $laptop-max + 1px;

$mobile:    "(max-width: $mobile-max)";
$phablet:   "(min-width: $phablet-min) and (max-width: $phablet-max)";
$tablet:    "(min-width: $tablet-min) and (max-width: $tablet-max)";
$laptop:    "(min-width: $laptop-min) and (max-width: $laptop-max)";
$desktop:   "(min-width: $desktop-min)";

$transition-default: all 333ms ease-in-out;

$opacity-none: 0;
$opacity-min: 0.13;
$opacity-low: 0.23;
$opacity-third: 0.38;
$opacity-mid: 0.54;
$opacity-high: 0.74;
$opacity-max: 0.87;
$opacity-full: 0.999;