.mixer
  header
    text-align center
  article
    font-size 1.2em
    line-height 1.5em
    margin-top 4%
    padding 4em
    +$below('xs')
      padding: 20px
      font-size 1em
      line-height 1.5em
