.sponsors
  background-color $secondary
  border-top 10px solid $header-light
  min-height 100vh
  padding-bottom 120px

.container
  $grid('column', 'center', , 'between')
  text-align center
  min-height 100%
  padding 20px

.tiers
  margin-bottom 30px
  +$below('sm')
    width 100%


.title-sponsor
  margin-bottom 60px
  +$below('sm')
    $grid('column', , , 'center')
    min-height 50%
    div
      $cell()
      padding-bottom 60px
      img
        width 85%
  +$above('sm')
    $grid('row', , , 'center')
    div
      $cell(6)
      img
        width 100%

.tier-1
  +$below('sm')
    $grid('column', , , 'center')
    min-height 50%
    div
      $cell(1, , 20px)
      padding-bottom 60px
      img
        height 100px
        width auto
    .pinterest
      padding-top 22px
    .github
      padding-top 30px
    .lyft
      padding-top 27px
  +$above('sm')
    $grid('row', , , 'center')
    $center(1440px)
    div
      $cell(3, , 60px)
      img
        height 100px
        width auto
    .pinterest
      padding-bottom 1px
      padding-top 32px
    .github
      padding-bottom 10px
      padding-top 37px
    .lyft
      padding-top 30px

.tier-2
  +$below('sm')
    $grid('column', , , 'center')
    min-height 100%
    div
      flex 1 0 0
      margin-bottom 20px
      width 100%
      img
        height 80px
        width auto
    .netlify
      padding-top 20px
    .eventbrite
      padding-top 30px
    .coursera
      padding-top 35px
    .serverless
      padding-top 23px
    .nerdwallet
      padding-top 40px
    .reddit
      padding-top 27px
    .makeschool
      padding-top 30px
      height 120px
    .roost
      padding-top 30px
  +$above('sm')
    $grid('row', 'bottom', , 'center')
    div
      $cell(3, , 60px)
      img
        height 80px
        width auto
        object-fit scale-down
    .netlify
      padding-top 26px
    .eventbrite
      padding-bottom 23px
      padding-top 20px
    .coursera
      padding-bottom 21px
      padding-top 27px
    .serverless
      padding-bottom 23px
      padding-top 10px
    .nerdwallet
      padding-bottom 14px
      padding-top 27px
    .reddit
      padding-bottom 20px
      padding-top 27px
      height 90px
    .makeschool
      padding-bottom 15px
      padding-top 15px
    .roost
      apdding-bottom 27px
      padding-top 30px

// .tier-3
//   +$below('sm')
//     $grid('row', , , 'around')
//     min-height 33%
//     width 100%
//     padding-bottom 60px
//     div
//       $cell(5)
//       width 50%
//       img
//         width 100%
//   +$above('sm')
//     $grid('row', , , 'center')
//     width 60%
//     div
//       $cell(5, , 60px)
//       img
//         width 80%

.tier-4
  +$below('sm')
    $grid('row', , , 'around')
    width 100%
    div
      $cell(5)
      width 40%
      img
        width 100%
  +$above('sm')
    $grid('row', , , 'center')
    width 40%
    div
      $cell(5, , 60px)
      img
        width 80%

.sponsors-title
  margin-top 50px
  margin-bottom 0

.supporters
  margin-bottom 60px
  +$below('sm')
    $grid('row', , , 'around')
    min-height 33%
    width 100%
    div
      $cell(5)
      width 40%
      img
        height 40px
        width auto
    .accelebrate
      padding-bottom 2px
    .nyentek
      padding-top 14px
    .techqueria
      padding-bottom 2px
      padding-top 5px
  +$above('sm')
    $grid('row', 'baseline', , 'between')
    width 60%
    div
      $cell(4, , 60px)
      img
        height 62px
        width auto
    .accelebrate
      padding-top 12px
    .nyentek
      padding-top 28px
    .techqueria
      padding-bottom 2px
      padding-top 10px
      margin-bottom -5px
