.sponsors
  min-height 100vh
  border-top 6px solid $primary
  background-color $secondary

.container
  $grid('column', 'center', , 'between')
  min-height 100%
  padding 20px

.tier-1
  $grid('row', , , 'center')
  width 100%
  div
    $cell(3, , 60px)
    img
      width 90%
  .reddit
    margin-top -32px

.tier-2
  $grid('row', , , 'center')
  width 75%
  div
    $cell(5, , 60px)
    img
      width 80%

.tier-3
  $grid('row', , , 'center')
  width 60%
  div
    $cell(5, , 60px)
    img
      width 80%

.supporters
  $grid('row', , , 'center')
  width 60%
  div
    $cell(5, , 60px)
    img
      width 80%
  .nyentek
    margin-top 72px
