.sponsors
  background-color $secondary
  border-top 10px solid $header-light
  min-height 100vh
  padding-bottom 120px

.container
  $grid('column', 'center', , 'between')
  text-align center
  min-height 100%
  padding 20px

.tiers
  margin-bottom 60px
  +$below('sm')
    width 100%

.title-sponsor
  +$below('sm')
    $grid('column', , , 'center')
    min-height 50%
    div
      $cell()
      padding-bottom 60px
      img
        width 85%
  +$above('sm')
    $grid('row', , , 'center')
    div
      $cell(6)
      img
        width 100%

.tier-1
  +$below('sm')
    $grid('column', , , 'center')
    min-height 50%
    div
      $cell(1, , 20px)
      padding-bottom 60px
      img
        width 75%
  +$above('sm')
    $grid('row', , , 'center')
    div
      $cell(3, , 60px)
      img
        width 90%

.tier-2
  .nudge
    padding-bottom 20
    +$below('sm')
      padding-bottom 0
  +$below('sm')
    $grid('column', , , 'center')
    min-height 100%
    div
      flex 1 0 0
      margin-bottom 20px
      img
        width 70%
  +$above('sm')
    $grid('row', 'bottom', , 'center')
    div
      $cell(3, , 60px)
      img
        width 80%

.tier-3
  +$below('sm')
    $grid('row', , , 'around')
    min-height 33%
    width 100%
    padding-bottom 60px
    div
      $cell(5)
      width 50%
      img
        width 100%
  +$above('sm')
    $grid('row', , , 'center')
    width 60%
    div
      $cell(5, , 60px)
      img
        width 80%

.tier-4
  +$below('sm')
    $grid('row', , , 'around')
    width 100%
    div
      $cell(5)
      width 40%
      img
        width 100%
  +$above('sm')
    $grid('row', , , 'center')
    width 40%
    div
      $cell(5, , 60px)
      img
        width 80%

.sponsors-title
  margin-top 50px
  margin-bottom 0

.supporters
  margin-bottom 60px
  +$below('sm')
    $grid('row', , , 'around')
    min-height 33%
    width 100%
    div
      $cell(5)
      width 40%
      img
        width 100%
    .nyentek
      margin-top 30px
  +$above('sm')
    $grid('row', 'baseline', , 'between')
    width 60%
    div
      $cell(4, , 60px)
      img
        width 60%
    // .nyentek
    //   margin-top 57px
    // .techqueria
    //   margin-top 20px
