.workshops
  min-height 100vh
  .instructors-list
    $grid('row', 'center', 'center')
    padding 20px 100px
    .instructor-container
      flex-basis 30%
      flex-grow 1
      text-align center
      img
        min-width 150px
        width 50%
