.workshops
  background-image url('./bg-workshops-logos.png'), linear-gradient(#9BB3D8, #8D99AC, #AC93A5)
  background-size 110%
  border-top 10px solid $header-light
  min-height 100vh
  padding-bottom 140px
  text-align center

  .sponsor-thanks
    margin-top 70px

.info
  $center(75%)
  h1, h3, h4
    color $gray-text
    margin 0
  h1
    font-size $header-date
    margin-top -30px
  h2
    color $secondary
    font-size $header-title

  h3
    font-size 1.17em
    font-weight 500
  h4
    margin-top 50px
    font-size 2em
    color $gray-text
    font-weight 400
  h5
    font-size 1em
    font-weight 300
    margin-bottom 30px


.instructors-list
  +$above('sm')
    $grid('row', 'center', 'center')
    padding 20px 200px
  +$below('sm')
    display none

.instructor-container
  $cell(4, , 20px)
  text-align center
  min-height 300px
  .instructor
    color $secondary
    margin-bottom 0
    margin-top 0
    font-weight 400
  img
    min-width 150px
    width 70%
    margin-top 20px
    max-width 220px
.instructor-info
  h4
    margin 0
    font-size 1em
    color $gray-text
    font-weight 400

.workshops-list
  $grid('row', 'center', 'center', 'center')
  padding 20px 20px
  max-width 1500px

$workshop-card-min = 350px
$workshop-card-max = 400px
$workshop-width = 400px

.workshop-container
  background-color #02AEEF
  box-shadow 0px 2px 8px 0px #525252
  color $secondary
  margin-bottom 60px
  min-height $workshop-card-min
  max-height $workshop-card-max
  +$below('sm')
    flex-grow
    text-align center
    width 100%
  +$above('sm')
    $cell(6, , 100px)
    text-align right
    min-width $workshop-width
    max-width $workshop-width
    width $workshop-width

.title-container
  height 0px
  position relative
  text-align center
  width 100%

.title
  background-color $quartinary
  box-shadow 0px 0px 5px 0px #717171
  font-size 20px
  font-weight 100
  left 50%
  margin 0
  min-width 180px
  padding 14px 24px
  position absolute
  text-align center
  text-decoration none
  transform translateX(-50%) translateY(-50%)
  top 50%
  vertical-align middle
  white-space nowrap
  z-index 1

.content-window
  min-height $workshop-card-min
  max-height $workshop-card-max
  height 100%
  overflow hidden

$info-ratio-num = 20%
$info-ratio-den = 80%
.content-container
  min-height $workshop-card-min
  max-height $workshop-card-max
  height 100%
  transition transform .75s cubic-bezier(0.645, 0.045, 0.355, 1)
  &:hover
    transform translateY(-($info-ratio-den)) translateZ(0)

.workshop-info
  height $info-ratio-den
  .name
    font-size 32px
    flex-grow 0.5
    margin-top 10px
    margin-bottom 20px
  .instructor
    margin 0
    font-size 24px
  .inst-title
    margin 0
    font-size 20px
    font-weight 100
    min-width 180px
  +$below('sm')
    $grid('column', 'center')
    padding 36px 0
    flex-grow 1
  +$above('sm')
    $grid('column', 'bottom')
    padding 36px
    flex-grow 1

.footer-container
  background-color $secondary
  color black
  height 100%

.date
  height $info-ratio-num
  padding 20px 40px 10px

.extra-info
  height $info-ratio-den
  padding-left 20px
  padding-right 20px
  .brief, .bio
    padding-bottom 20px

.modal
  background-color $secondary
  bottom 40px
  left 40px
  position absolute
  right 40px
  top 40px
  z-index 2

.overlay
  background-color $gray-bg
  bottom 0
  left 0
  position fixed
  right 0
  top 0
  z-index 3

.action
  text-align center

.sponsors
  text-align center
  +$below('sm')
    $grid('column', , , 'center')
    width 100%
    div
      $cell()
      $center(75%)
      img
        width 100%
  +$above('sm')
    $grid('row', , , 'around')
    $center(50%)
    div
      $cell(5)
      img
        width 100%
    .eventbrite
      padding-top 40px
