.workshops
  background-image url('./bg-workshops-logos.png'), linear-gradient(#9BB3D8, #8D99AC, #AC93A5)
  background-size 110%
  border-top 10px solid $header-light
  min-height 100vh
  padding-bottom 140px
  text-align center

  .sponsor-thanks
    margin-top 70px

.info
  $center(75%)
  h1, h3, h4
    color $gray-text
    margin 0
  h1
    font-size $header-date
    margin-top -30px
  h2
    color $secondary
    font-size $header-title

  h3
    font-size 1.17em
    font-weight 500
  h4
    margin-top 50px
    font-size 2em
    color $gray-text
    font-weight 400
  h5
    font-size 1em
    font-weight 300
    margin-bottom 30px


.instructors-list
  +$above('sm')
    $grid('row', 'center', 'center')
    padding 20px 200px
  +$below('sm')
    display none

.instructor-container
  $cell(4, , 20px)
  text-align center
  min-height 300px
  .instructor
    color $secondary
    margin-bottom 0
    margin-top 0
    font-weight 400
  img
    min-width 150px
    width 70%
    margin-top 20px
    max-width 220px
.instructor-info
  h4
    margin 0
    font-size 1em
    color $gray-text
    font-weight 400

.workshops-list
  $grid('row', 'center', 'center', 'center')
  padding 20px 20px
  max-width 1500px

$workshop-card-min = 350px
$workshop-card-max = 370px
$workshop-width = 400px

.workshop-container
  background-color $workshop-blue
  box-shadow 0px 2px 8px 0px #525252
  color $secondary
  margin-bottom 60px
  +$below('sm')
    height $workshop-card-min
    flex-grow
    text-align center
    width 100%
  +$above('sm')
    $cell(6, , 100px)
    height $workshop-card-max
    text-align right
    min-width $workshop-width
    max-width $workshop-width
    width $workshop-width

.title-container
  height 0px
  position relative
  text-align center
  width 100%

.title
  background-color $quartinary
  box-shadow 0px 0px 5px 0px #717171
  font-size 17px
  font-weight 100
  left 50%
  margin 0
  min-width 180px
  padding 14px 24px
  position absolute
  text-align center
  text-decoration none
  transform translateX(-50%) translateY(-50%)
  top 50%
  vertical-align middle
  white-space nowrap
  z-index 1

.content-window
  min-height $workshop-card-min
  max-height $workshop-card-max
  height 100%
  overflow hidden

$info-ratio-num = 14%
$info-ratio-den = 86%
.content-container
  min-height $workshop-card-min
  max-height $workshop-card-max
  height 100%
  transition transform .75s cubic-bezier(0.645, 0.045, 0.355, 1)
  &.focused
  &:focus
  &:hover
    transform translateY(-($info-ratio-den)) translateZ(0)

.workshop-info
  height $info-ratio-den
  .name
    font-size 32px
    flex-grow 0.5
    margin-top 10px
    margin-bottom 20px
  .instructor
    margin 0
    font-size 24px
  .inst-title
    margin 0
    font-size 20px
    font-weight 100
    min-width 180px
  +$below('sm')
    $grid('column', 'center')
    padding 36px 0
    flex-grow 1
  +$above('sm')
    $grid('column', 'bottom')
    padding 36px
    flex-grow 1

.footer-container
  background-color $secondary
  color black
  height 100%

.date
  height $info-ratio-num
  padding 25px 40px 10px
  color $gray-text

.extra-info
  height $info-ratio-den
  padding-left 20px
  padding-right 20px
  font-size 0.85rem
  text-align left
  color $light-gray
  font-weight 200
  .brief, .bio
    padding-bottom 10px
    padding-top 20px
    a
      color $workshop-blue
      text-align right
      &:hover
        cursor pointer


.modal
  background-color $secondary
  bottom 20%
  left 25%
  position absolute
  right 25%
  top 20%
  max-width 600px
  z-index 2
  border-radius 10px
  border 6px solid $lightest-gray
  box-shadow 2px 5px 12px #888
  overflow scroll
  font-size 0.9rem
  &:active
    outline none
  &:focus
    outline none
  .brief, .bio, .length
    color black
    font-weight 200
    padding 20px 20px
  +$below('sm')
    left 2%
    right 2%
    top 5%
    bottom 15%
  button
    background-color $secondary
    border 2px solid $action-pink
    border-radius 12px
    box-shadow 0px 2px 8px #888
    color $action-pink
    cursor pointer
    display inline-block
    font-size .9rem
    margin 20px 20px
    padding 7px 15px
    text-align center
    text-decoration none
    vertical-align middle
    white-space nowrap
    &:hover
      background-color $action-pink-dark
      color white
      box-shadow none
      cursor pointer
  .header
    img
      max-width 100%

.overlay
  background-color rgba(42,42,42,0.5)
  padding 50px
  bottom 0
  left 0
  position fixed
  right 0
  top 0
  z-index 3


.action
  text-align center

.sponsors
  text-align center
  +$below('sm')
    $grid('column', , , 'center')
    width 100%
    div
      $cell()
      $center(75%)
      img
        width 50%
        margin-top 20px
  +$above('sm')
    $grid('row', , , 'around')
    $center(50%)
    div
      $cell(5)
      img
        width 80%
    .eventbrite
      padding-top 40px
    .pinterest
      padding-top 20px
