.hackathon
  background-color $gray-bg
  border-top 6px solid $primary
  min-height 100vh
  text-align center

.content
  $grid('column', 'center')
  height 100%

.info
  background-color $gray-bg
  width 100vw
  h1
    color $gray-text
    font-size 3rem

.register
  background-color $secondary
  flex-grow 1
  width 100vw
  h3
    color $action-pink
