.mixer
  background-color $secondary
  border-top 6px solid $primary
  min-height 100vh
  text-align center

.cards
  +$above('sm')
    $grid('row', 'center')
  +$below('sm')
    $grid('column')

.info
  border-bottom 2px solid $lightest-gray
  padding-bottom 50px
  width 100%
  h2
    font-size $header-date
    margin-top -30px
    color $gray-text
  h3
    color $light-gray
    margin-bottom 0

.sponsors
  +$below('sm')
    width 100%
  +$above('sm')
    max-height 500px
    width 50%
  img
    width 100%

.you
  $grid('column', , , 'center')
  background url('./bg-you.png') no-repeat center
  color $action-pink
  padding 60px
  +$below('sm')
    background-size cover
    min-height 100vh
    width 100%
  +$above('sm')
    min-height 100%
    max-height 500px
    background-size auto 100%
    width 50%
  h2
    font-size 2.3rem
    margin 30px 0
  img
    max-width 40px

.presented
  background-image linear-gradient($secondary, #91eeff)
  border-top 2px solid $lightest-gray
  padding 100px 0 175px 0
  width 100%
  img
    width 300px
  h2
    color $gray-text
    margin-top 100px
    margin-bottom 0
  p
    color $light-gray
    margin-top 100px
