.mixer
  background-color $secondary
  border-top 6px solid $primary
  min-height 100vh
  text-align center

.cards
  $grid('row', 'center')

.info
  border-bottom 2px solid $gray-text
  width 100vw

.sponsors
  width 50vw
  img
    width 100%

.you
  background-image url('./bg-you.png')
  background-size contain
  color $action-pink
  padding 60px
  width 50vw
  h2
    font-size 3rem

.presented
  background-image linear-gradient($secondary, $primary)
  border-top 2px solid $gray-text
  padding 175px 0
  width 100vw
  img
    width 30%
  h2
    color $gray-text
    margin-top 100px
    margin-bottom 0
