.action-button
  background-color $secondary
  border 6px solid $action-pink
  border-radius 20px
  color $action-pink
  cursor pointer
  display inline-block
  font-size 2rem
  padding 14px 24px
  text-align center
  text-decoration none
  vertical-align middle
  white-space nowrap
