ks-normalize();
ks-box-sizing-reset();
ks-font-face("Roboto Thin", "../../fonts/roboto/Roboto-Thin", normal, thin, formats: truetype)

body
  width 100vw
  font-family "Roboto", helvetica, sans-serif
  background lighten($header-blue, 50%)
  max-width 1540px
  margin-left auto
  margin-right auto

a
  color: black

.app
  $grid(column)
  min-height 100vh

.app-child
  $cell(12,, 0)
