nav
  border-bottom 1px solid $tertiary
  background-color $primary
  margin 0 !important
  width 100vw
  +below($xs-min)
    flex-direction: column !important
  img
    height 100px
    padding .6em
    +below($sm-min)
      height 75px
  ul
    list-style-type none
    margin 0
    padding-right 0
    +below(30em)
      flex-flow column nowrap !important
    a
      text-decoration none
      padding 1em
      height 100px
      +below($sm-min)
        height 75px
      display table
      &:hover
        background-color $secondary
  li
    height 100%
    display table-cell
    vertical-align middle
