nav.navbar
  grid(,,, between)
  border-bottom 1px solid $tertiary
  background-color $primary
  width 100vw
  +ks-media-query(all, max-width $bps.xs)
    grid(column)
  img
    height 100px
    padding .6em
    +ks-media-query(all, max-width $bps.sm)
        height 75px
  ul
    grid(,,, end)
    list-style-type none
    margin 0
    padding-right 0
    +ks-media-query(all, max-width $bps.sm)
      flex-flow column nowrap !important
    a
      text-decoration none
      padding 1em
      height 100px
      display table
      +ks-media-query(all, max-width $bps.sm)
        height 75px
      &:hover
        background-color $secondary
  li
    height 100%
    display table-cell
    vertical-align middle
