.title-card
  $grid('row', 'center')
  $center(50vw)
  background-size cover
  border 6px solid $primary
  color $secondary
  height 160px
  text-align center
  transform translateY(-50%)
  h1
    font-size 4rem
    flex-grow 1
