.title-card
  $grid('row', 'center')
  background-size cover
  border 6px solid $primary
  color $secondary
  text-align center
  transform translateY(-50%)
  h1
    flex-grow 1
    text-transform uppercase
  +$below('sm')
    $center(60vw)
    height 100px
    min-width 150px
    h1
      font-size 1.5rem
  +$above('sm')
    $center(40vw)
    height 120px
    min-width 400px
    h1
      font-size 3.5rem
