.title-card
  $grid('row', 'center')
  $center(50vw)
  background-size cover
  border 6px solid $primary
  color $secondary
  height 160px
  transform translateY(-50%)
  h1
    font-size 4rem
    flex-grow 1

// .img-meetup
  // background-image url('../images/backgrounds/bg-meetup.png')
// .img-workshops
  // background-image url('../images/backgrounds/bg-workshops.png')
// .img-mixer
  // background-image url('../images/backgrounds/bg-mixer.png')
// .img-hackathon
  // background-image url('../images/backgrounds/bg-hackathon.png')
// .img-registration
  // background-image url('../images/backgrounds/bg-registration.png')
