$about-goals-height = 9rem
.general
  +$above('sm')
    $grid('row')
  +$below('sm')
    $grid('column')
    width 100vw
  text-align center
  min-height 100vh
  // background-image url('./gradientGenerator.png'), linear-gradient(#25d7f7, #7190c1)
  background-color $secondary
  .quote
    min-height 50%
    flex-grow 1
    border-bottom 1px solid #F2F2F2
    padding-bottom 20px
    h2, h3
      display block
      max-width 80%
      margin-left auto
      margin-right auto
      span
        font-size 3rem
        font-family serif
    h2
      color $lightest-gray
      font-weight 600
      font-size 2.2rem
      max-width 80%
      margin-left auto
      margin-right auto
      margin-top 70px
    h3
      color $primary
      font-weight 300
  .about
    display inline-block
    min-height $about-goals-height
    text-align left
    padding 100px 80px
    font-size 1.1em
    color $light-gray
    font-weight 100
    +$below('sm')
      border-bottom 1px solid #F2F2F2
      font-size .9em
      width 100%
    +$above('sm')
      $center(50%)
      border-right 1px solid #F2F2F2
      width 50%
    +$between('sm', 'ab')
      font-size 1.1em
    h2
      margin-top -50px
      color $light-gray
      text-align center
      font-size 2.5rem
    h3
      font-weight 500
    &:hover
      background-color $primary
      color $secondary
      h2
        color $secondary

  .goals
    display inline-block
    min-height $about-goals-height
    width 50%
    font-size 1.1em
    font-weight 100
    color $secondary
    +$below('sm')
      font-size .9rem
      padding 100px 10px
      width 100%
    +$above('sm')
      $center(50%)
      padding 100px 80px
      width 50%
    +$between('sm', 'ab')
      font-size 1.1em
    h2
      margin-top -50px
      color $light-gray
      font-size 2.5rem
    ul
      text-align left
      list-style none
      color $light-gray
      margin-left 50px
      img
        width 20px
        margin-right 15px
    &:hover
      background-color $primary
      color $secondary
      h2
        color $secondary
      ul
        color $secondary
