.general
  $grid('row')
  text-align center
  height 100vh
  .quote
    height 50%
    flex-grow 1
    border-bottom 2px solid $secondary
    h2, h3
      display block
    h2
      color $action-pink
    h3
      color $secondary
  .about
    $center(50%)
    background-image url('./bg-about.png')
    border-bottom 4px solid $primary
    border-right 2px solid $secondary
    display inline-block
    height 50%
    text-align center
    padding 100px 80px
    width 50%
  .goals
    background-image url('./bg-goals.png')
    border-bottom 4px solid $primary
    display inline-block
    height 50%
    padding 100px 80px
    width 50%
    ul
      text-align left
      list-style none
      margin 0
      img
        width 20px

