.meetup
  min-height 100vh
  text-align center
  header
    background-color $secondary
    padding-bottom 20px
  .speakers
    $grid('row', 'center', 'center', 'center')
    padding 20px
    background-color $tertiary
    img
      width 50%
  .title
    $grid('row', 'center')
    $center(50vw)
    background-image url('./bg-meetup.png')
    background-size contain
    color $secondary
    height 160px
    transform translateY(-50%)
    h1
      font-size 4rem
      flex-grow 1


