.meetup
  min-height 100vh
  text-align center
  header
    background-color $secondary
    padding-bottom 20px
  .speakers
    $grid('row', 'center', 'center', 'center')
    padding 20px
    background-color $tertiary
    img
      width 50%
  .sponsor
    $grid('column', 'center', 'center')
    background-color $secondary
    padding 60px
    padding-bottom 200px
    img
      width 25%
    :nth-child(2)
      padding 20px
    :nth-child(3)
      padding-top 40px


