.meetup
  border-top 10px solid $header-light
  min-height 100vh
  text-align center
  header
    background-color $secondary
    padding-bottom 20px
    h2
      font-size $header-date
      margin-top -20px
      margin-bottom 0
    h3
      font-size 1.17em
      color $light-gray
      font-weight 500
    h4
      margin-top 50px
      font-size 2em
      color $gray-text
      font-weight 400
    h5
      font-size 1.17em
      color $light-gray
      font-weight 300

  .speakers
    $grid('row', 'center', 'center', 'center')
    background-color $tertiary
    padding-top 50px
    padding-bottom 40px
    .speaker-container
      margin 0
      padding 0
      width 250px
      h4
        font-weight 400

    img
      width 70%
    h3
      color black
      margin-top 0
      margin-bottom 0
      max-width 200px
      margin-left auto
      margin-right auto
    h4
      color #929292
      margin-top 0
      margin-bottom 0
      max-width 200px
      margin-left auto
      margin-right auto
    p
      max-width 200px
      margin-left auto
      margin-right auto
      color #02AEEF
  .sponsor
    $grid('column', 'center', 'center')
    background-color $secondary
    padding-top 60px
    padding-bottom 200px
    width 100%
    div
      color $light-gray
    img
      +$above('sm')
          width 25%
      +$below('sm')
          width 75%
    :nth-child(2)
      padding 20px
    :nth-child(3)
      padding-top 40px
